.text-subtitle-1{
    font-family: 'Space Mono', monospace !important;
}

.v-card{
    border-radius: 20px !important;
}

.v-field__overlay {
    background-color: var(--vlg-cyan);
}

.v-btn.v-btn--density-default {
    height: calc(var(--v-btn-height) + 0px);
    width: 7rem;
}

.v-text-field .v-field--no-label input, .v-text-field .v-field--active input {
    opacity: 1;
    text-align: right;
}
.v-field--variant-solo, .v-field--variant-solo-filled {
    box-shadow: none !important;
}